 
icon{
    display: flex !important;;
    width: 24px !important;
    max-width: none !important;
    height: 24px !important;
  }
  heart{
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
    width:24px !important;
    height: 24px !important;
  }
