<!-- Sidebar Start -->
<div class="sidebar-menu-wrapper">
  <div class="sidebar_mobile_menu">
    <span class="close_btn"><i class="fal fa-times"></i></span>
    <div class="mobile_menu_list clearfix">
      <ul class="ul_li_block clearfix">
        <li><a href="index.html">Home</a></li>
        <li class="sidebarmenu_dropdown dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Festival Gifts
          </button>
          <ul class="dropdown-menu">
            <li><a href="products.html">Diwali Gift</a></li>
            <li><a href="products.html">Holi Gift</a></li>
          </ul>
        </li>
        <li class="sidebarmenu_dropdown dropdown">
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employee Gifts
          </button>
          <ul class="dropdown-menu">
            <li><a href="products.html">On-boarding Gift</a></li>
            <li><a href="products.html">Appreciation Gift</a></li>
            <li><a href="products.html">Anniversary Gift</a></li>
          </ul>
        </li>
        <li><a href="products.html">Client Gifts</a></li>
        <li><a href="products.html">Gaplu Gifts</a></li>
      </ul>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<!-- Sidebar End -->